name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  build-and-test:
    name: Testing on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, windows-latest]
        build-type: [Debug, RelWithDebInfo]
        compiler: [gcc, clang]
        exclude:
          # Only default compiler on macos-latest and windows-latest
          - os: macos-13
            compiler: clang
          - os: windows-latest
            compiler: clang

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: install dependencies
        uses: SDU-Robotics/github-actions/install-dependencies@master
        with:
          compiler: ${{ matrix.compiler }}
          build-type: ${{ matrix.build-type }}
          ubuntu: |
            apt: libeigen3-dev libyaml-cpp-dev
          macos: |
            brew: eigen yaml-cpp
          windows: |
            vcpkg: yaml-cpp
            gitlab:
              - path: libeigen/eigen
                ref: 3.4.0

      - name: make build directory
        run: cmake -E make_directory ${{ github.workspace }}/build

      - name: configure cmake
        shell: bash
        working-directory: ${{ github.workspace }}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug -DBUILD_DOCS=OFF

      - name: build
        shell: bash
        working-directory: ${{ github.workspace }}/build
        run: cmake --build .

      - name: run tests
        shell: bash
        working-directory: ${{ github.workspace }}/build
        run: ctest

  python-testing:
    name: Python package testing on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, windows-latest]
        build-type: [Debug, RelWithDebInfo]
        compiler: [gcc, clang]
        exclude:
          # Only default compiler on macos-latest and windows-latest
          - os: macos-13
            compiler: clang
          - os: windows-latest
            compiler: clang

    steps:
      - uses: actions/checkout@v4

        with:
          submodules: "recursive"

      - name: install dependencies
        uses: SDU-Robotics/github-actions/install-dependencies@master
        with:
          compiler: ${{ matrix.compiler }}
          build-type: ${{ matrix.build-type }}
          ubuntu: |
            apt: libeigen3-dev libyaml-cpp-dev
          macos: |
            brew: eigen yaml-cpp
          windows: |
            vcpkg: yaml-cpp
            gitlab:
              - path: libeigen/eigen
                ref: 3.4.0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Run Python tests
        shell: bash
        run: |
          python -m pip install .
          python -m pip install -r requirements-dev.txt
          pytest
